<?xml version="1.0" encoding="UTF-8"?>

<!-- 导入cxf的schema的命名空间(xmlns:jaxws="http://cxf.apache.org/jaxws")和地址(http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd") -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://cxf.apache.org/jaxws
		   http://cxf.apache.org/schemas/jaxws.xsd">
		   
 	<!-- 导入cxf需要的xml文件 -->
	<!-- <import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" /> -->
	 
	<!-- <context:annotation-config />
	自动扫描与装配bean
	<context:component-scan base-package="com.*" /> -->
	
	<bean id="testWSImpl" class="com.webserviceImpl.TestWSImpl"></bean>
	
	<!-- CXF与Spring整合的WebService组件 -->
	<jaxws:endpoint implementor="com.webserviceImpl.TestWSImpl" address="/xin">
		<!-- 添加In拦截器 -->
		<jaxws:inInterceptors>
			<bean class="com.interceptor.MyInterceptor"/>
		</jaxws:inInterceptors>
	</jaxws:endpoint>

</beans>
